.header
{ 
  display: inline-block;
  font-family: 'M PLUS Code Latin',sans-serif;
  color: #286DA8;
  font-size: 50px;
  font-weight:bold;
  padding-left: 450px ; 
  padding-right: 250px;
  position: relative;
  
}

.topnav{
    overflow: hidden;
  background-color: #f2f2f3;
}
.topnav a {
    font-size: 25px;
    float: left;
    display:block;
    color: gray;
    text-align: center;
    padding: 10px 0px; 
    padding-right: 93px ;
    padding-left: 93px;
    text-decoration:none;
  }
.topnav a:hover 
{
    background-color: darkgray;
    color: black;
}

.topnav a.active {
    background-color:#0A758F;
    color: white;
  }


.button  
{
   background-color: white;
    border: none;
    color: gray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-family: "Praise";
    margin-bottom: 6px;
    margin-left: 100px;
    cursor:pointer;
    border-radius: 50px;   
} 
  
.button:hover
{
    background-color: darkgray;
    color: black;
}
  
.sidenav{
    text-align: center;
    width:200px;
    height: max-content;
    position: sticky;
    float: left;
    z-index: 1;
    top: 150px;
    left: 8px;
    background-color:#0A758F;
    overflow-x: hidden;
}

.sidenav a {
    padding: 2px 8px 2px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: black;
  }

.middle{
    
    margin-left: 210px;
    
    padding: 0px 10px;
    z-index: 1;
    
}
.middle p{
    font: 200 18px/28px artifakt-element,sans-serif;
}


.sticky {
    position: sticky;
    top: 0;
    width: 100%
} 

sup{
    vertical-align: top; font-size: 0.6em;
}

.Footer{
    margin-top: 200px;
    background-color: #0A758F;
  }
  
  .row{
    color:white;
  }
  
  .social-links{
    font-size: 50px;
  }
  
  .bi-instagram {
    color: #e84396;
    margin-right: 30px;
  }
  
  .bi-globe {
    color: #0097e6;
    margin-right: 30px;
  }
  
  .bi-linkedin {
    /*color: #176e9c;*/
      color: #0097e6;
    
  }
  

