.header
{ 
  display: inline-block;
  font-family: 'M PLUS Code Latin',sans-serif;
  /* color: black; */
  color: #286DA8;
  font-size: 50px;
  font-weight:bold;
  padding-left: 450px ; 
  padding-right: 250px;
  margin-top: 30px;
  
}

.button 
{
  background-color: white;
  border: none;
  color: gray;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-family: "Praise";
  margin-bottom: 6px;
  margin-left: 100px;
  cursor:pointer;
  border-radius: 50px;   
}

.button:hover
{
  background-color: darkgray;
  color:black;
}

.topnav 
{
  overflow: hidden;
  background-color: #f2f2f3;
  margin-top: 20px;
}

.topnav a 
{ font-size: 25px;
  float: left;
  display:block;
  color: gray;
  text-align: center;
  padding: 10px 30px; 
  padding-right: 93px ;
  padding-left: 93px;
  text-decoration:none;
}

.topnav a:hover 
{
  background-color: darkgray;
  color: black;
}

.topnav a.active {
  background-color:#0A758F;
  color: white;
}


.intro::after
{ 
  content: " " ;

} 
.column-left
{   
  font: 200 18px/28px artifakt-element,sans-serif;
  background-color: #0A758F;
  color: white;
  margin-top: 20px;
  margin-right: 100px;
  float: left;
  width: 65%;
}
.column-right
{
  font: 200 18px/28px artifakt-element,sans-serif;
  background-color: #0a758f;
  color:white;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  width: 23%;
  border-radius: 50px
}
h1
{   
  text-align: center;
}
body
{   
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;   
}

sup{
  vertical-align: top; font-size: 0.6em;
} 

.Footer{
  margin-top: 1050px;
  background-color: #0A758F;
}

.row{
  color:white;
}

.social-links{
  font-size: 50px;
}

.bi-instagram {
  color: #e84396;
  margin-right: 30px;
}

.bi-globe {
  color: #0097e6;
  margin-right: 30px;
}

.bi-linkedin {
  /*color: #176e9c;*/
    color: #0097e6;
  
}

